<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/style.css' />
    
    <title>Random Word Generator API</title>
</head>
<body>
    <h1>Random Word Generator API</h1>

    <div class="section-container">
        <section>
            <h2>To access Random Word Generator API, go to:</h2>
            <p> https://randomword-gen.herokuapp.com/api/ <-- number of letters (ie. five) --> </p>
        </section>  

        <section>
            <h2>About</h2>
            <h3>What is this?</h3>
                <p>This website provides an API interface to generate a random word 
                    based on the number of letters from a database of over 6,500 words.</p>
            <h3>What is an API?</h3>
                <p>An API (Application Programming Interface) is a contract that allow developers to interact 
                    with an application through a set of interfaces. In this case, the application is a database of thousands of words.</p>
        </section>

        <section>
            <h2>What can I do with this API?</h2>
            <h3>Unsure what to do with this API? Some ideas include:</h3>
            <ul>
                <li>Games</li>
                <li>Creative Writing</li>
                <li>Spelling and Vocabulary</li>
            </ul>
        </section>

        <section>
            <h2>Available Lists</h2>
            <h3>The below APIs based on number of letters are currently available:</h3>
            <ul>
                <li>Five</li>
                <li>Six</li>
            </ul>
        </section>
    
    </div>
</body>
</html>